body {
    background-color: #F7F9FA;
}

@keyframes alertFade {
    0% {
        opacity: 0;
        transform: scale3d(1, 1, 1);
    }
    5% {
        opacity: 1;
        transform: scale3d(0.75, 1.25, 1);
    }
    10% {
        opacity: 1;
        transform: scale3d(1.25, 0.75, 1);
    }
    15% {
        opacity: 1;
        transform: scale3d(0.85, 1.15, 1);
    }
    20% {
        opacity: 1;
        transform: scale3d(1.05, 0.95, 1);
    }
    25% {
        opacity: 1;
        transform: scale3d(0.95, 1.05, 1);
    }
    30% {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
    95% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


#alert {
    top: 40px;
    left: 200px;
    animation: alertFade 3s ease-in-out forwards;
}